<section>
    <ul>
        <li style="float: right;"> 
            <input type="text" class="ArtistSearch" (keyup)="searchArtist($event)" 
            placeholder="Search for an artist &#xF002;">
        
        </li>
    </ul>
    <div style="background-color: rgb(223, 223, 223);padding: 1rem;" >
       
    <p-card class="card"    header="{{artist.name}}" [style]="{'width': '25rem','heigth':'3rem !important' ,'margin-bottom': '2em','display': 'inline-block','margin-left':'2em'}"
     *ngFor="let artist of artists"  [routerLink]="[artist.id]"> 
    
        <ng-template pTemplate="header">
    
            <img alt="Card" style="height: 22rem !important;"   [src]="[artist.images[0].url]" 
            *ngIf="artist.images.length > 0" >
    
            <img style="height: 22rem !important;" src="assets/images/Image-Not-Available.png" 
            *ngIf="artist.images.length == 0">
    
        </ng-template>
    
        <p style="font-weight: bolder;">{{artist.followers.total}} Followers</p>
    
        <p-rating [ngModel]="artist.popularity | ratingStars" readonly="true" [cancel]="false"></p-rating>
    </p-card>
    </div>
</section>

