
html, :root, body {
  background-color: rgb(223, 223, 223);
  background-image: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0.6rem;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}
.card:hover{
  cursor: pointer;
  opacity:1;
}